@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="@Url.Content("~/")" />
    <title>TodoApp</title>
</head>
<body>

    <div id="header">
        Header
    </div>

    <div id="content" ng-view></div>


    <div id="footer">
        Footer
    </div>

    <script type="text/javascript"
            src="@Url.Content("~/app/lib/require.js")"
            data-main="@Url.Content("~/app/bootstrap.js")"></script>
</body>
</html>
