@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="@Url.Content("~/")" />
    <title>TodoApp</title>
</head>
<body>
    Test
    <div ng-view></div>

    <script type="text/javascript"
            src="@Url.Content("~/app/lib/require.js")"
            data-main="@Url.Content("~/app/bootstrap.js")"></script>
</body>
</html>
