<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <base href="/todo/" />
    <title>TodoApp</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="app/css/app.css">
</head>
<body ng-controller="AppController">

    <div id="header-wrap"
         ng-if="authenticated">
        <div id="header">
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#/dashboard">LCAB</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#/dashboard">Dashboard</a></li>
                            <li><a href="#/projects">Projects</a></li>
                            <li><a href="#" ng-click="logout()">Logout</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </div>

    <div id="content" 
         class="container"
         ng-view>
    </div>

    <div id="footer"
         ng-if="authenticated">
        Footer
    </div>

    <script type="text/javascript"
            src="app/lib/require.js"
            data-main="app/bootstrap.js"></script>
</body>
</html>
